<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
   
</head>
<body>

    <div class="app-customer-persona">
        <div class="rectangle-3"></div>
        <div class="top-bar">
            <div class="back-button">
                <img src="assets/images/back-button-icon.png" (click)="Backonauth()" alt="Back Icon" width="24" height="24">
            </div>
            <h1 class="create-account">Create Account</h1>
            
        </div>

        <div class="progress-bar">
            <div class="progress-step complete"></div>
            <div class="progress-step"></div>
            <div class="progress-step"></div>
            <div class="progress-step"></div>
            <div class="progress-step"></div>
            <div class="progress-step"></div>
        </div>

        <div class="progress-labels">
            <span class="label profile" (click)="ProfileTo()">Profile</span>
            <span class="label" (click)="ContactTo()">Contact</span>
            <span class="label" (click)="PersonalTo()">Personal</span>
            <span class="label" (click)="FinancesTo()">Finances</span>
            <span class="label" (click)="PreferencesTo()">Preferences</span>
            <span class="label" (click)="AccountTo()">Account</span>
        </div>
        <div class="container">
            <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
                <p-card header="profile details" [style]="{ width: '100%' }">
                    <div class="field">
                        <input type="text" pInputText formControlName="profileName" class="w-full" placeholder="Profile Name" />
                        <small *ngIf="profileName?.invalid && (profileName?.dirty || profileName?.touched)" class="block p-error">
                            <div *ngIf="profileName?.errors?.['required']">Profile name is required.</div>
                        </small>
                    </div>
                    <div class="field">
                        <input type="date" pInputText formControlName="dob" class="w-full" placeholder="Date of Birth" />
                        <small *ngIf="dob?.invalid && (dob?.dirty || dob?.touched)" class="block p-error">
                            <div *ngIf="dob?.errors?.['required']">Date of Birth is required.</div>
                        </small>
                    </div>
                    <p-button label="Sign Up" styleClass="w-full" [disabled]="registerForm.invalid" type="submit"></p-button>
                    <br>
                    <div class="back-forget">
                    <a href="/reset-password">Forgot?</a>
                    <div class="back-button">
                        <a (click)="Backonauth()">
                            <span class="material-icons">arrow_back</span>
                        </a>
                    </div>
                    </div>
                </p-card>
            </form>
        </div>
      
    </div>
    </body>
</html>