<div class="app-container">
  <header class="app-header">
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/">BASRON</a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="home" routerLink="/home"  routerLinkActive="active" >HOME</a></li>
        <li class="nav-item"><a href="login" routerLink="/login"  routerLinkActive="active" >Login</a></li>
        <li class="nav-item"><a href="investments" routerLink="/investments"  routerLinkActive="active" >Investments</a></li>

      </ul>
    </nav>
  </header>
  <main class="app-main">
    <router-outlet></router-outlet>
    <h3>BASRON </h3>
      <h6>Watch your wealth grow</h6>

  </main>

 <!-- Footer -->
<footer class="footer">
  <div class="container">
    <hr>
    <h6>Powered by</h6>
    <h4>INVCOM</h4>
  </div>
</footer>
</div>
