/* General styling for the app container */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Styling for the header */
  .app-header {
    background-color: #0858a9;
    padding: 10px 0;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-brand a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-item a:hover,
  .nav-item a.active {
    color: #28a745;
  }
  
  /* Styling for the main content area */
  .app-main {
    flex: 1;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  /* Styling for the footer */
  .app-footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
  }
  /* styles.css or any other global CSS file */

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 5px 0;
}
.h1{
  color: #28a745;
}